*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    display: flex;
    /* background-color: rgb(202, 162, 109); */
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.row1{
    
    flex: 1;
    /* background-color: rgb(103, 75, 32); */
}
.row2{
    /* border: 3px solid black; */
    background-color: rgb(204, 204, 236);
    display: flex;
    flex: 3;
    justify-content:center;
}
.row3{
    flex: 2;
    /* background-color: blue; */
}
.box{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.pic{
    /* height: 10px; */
    /* object-fit: cover; */
    object-fit: scale-down;
    flex: 2;
    
}
.name{
    display: flex;
    flex-direction: column;
    align-self:center;
  flex:1
}
.work{
    flex:1;
}
.addMore{
    margin-left: 4rem;
    display: flex;
    /* background-color: aliceblue; */
    flex:1;
   justify-content: center;
   align-items: center;

}